
/* Texto de la Pagina */
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
/* Cuerpo de la Pagina */
body
{
  font-family: 'Dancing Script';
  background-color: #02010a;
}

/* Contenido pagina Web */
#contenido
{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

header
{
  height: 80px;
	background-color: #5b7989;
  border-radius: 10px 10px 0 0;
  order: 0;
  animation: miSlideIn 1s;
}

/* Efecto con Ky Frames */
@-webkit-keyframes miSlideIn{
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }
}

/* Titulo de Pagina Web */
header #titulo
{
  width: 50%;
  float: left;
}

header #titulo h1
{
  margin-left: 5%;
}
/* Menu pagina Web */
header #menu
{
  width: 50%;
  float: right;
  padding-top: 2%;
}
/* Alineacion del Titulo y sombra */
header h1
{
  text-align: left;
  text-shadow: 2px 2px 2px #02010a;
	color: white;
}
/* Tamano de Letra del encabezado y color*/
.item
{
  font-size: 23px;
  text-decoration: none;
  padding-left: 9%;
  color: white;
}

/* Cuadro de la Pagina Index parte Superior */
section #img-principal
{
  width: 100%;
  height: 400px;
  background-color: #82c3a6;
  order: 2;
}
/* Cuadro de la Pagina Index Parte Izquieda Inferior */
section #img-izquierda
{
  width: 50%;
  height: 300px;
  background-color: #d5c75f;
  float: left;
  order: 3;
}

/* Cuadro de la Pagina Index.html Parte Derecha Inferior */
section #img-derecha
{
  width: 50%;
  height: 300px;
  background-color: #d5c75f;
  float: right;
  order: 4;
}

/* Cuadro de Pagina 2  Paisajes.html y Retratos.hml Imagen arriba */
section #img-izquierda-uno
{
  width: 33.3%;
  height: 300px;
  background-color: #d5c75f;
  float: left;
  order: 11:
}

section #img-centro-uno
{
  width: 33.3%;
  height: 300px;
  background-color: #d5c75f;
  float: left;
  order: 12;
}

/* Cuadro de la Pagina 2  Paisajes.html y Retratos.hml Imagen arriba */
section #img-derecha-uno
{
  width: 33.4%;
  height: 300px;
  background-color: #d5c75f;
  float: right;
  order: 13;
}

section #img-izquierda-dos
{
  width: 33.3%;
  height: 300px;
  background-color: #d5c75f;
  float: left;
  order: 14:
}

section #img-centro-dos
{
  width: 33.3%;
  height: 300px;
  background-color: #d5c75f;
  float: left;
  order: 15;
}

section #img-derecha-dos
{
  width: 33.4%;
  height: 300px;
  background-color: #d5c75f;
  float: left;
  order: 16;
}


.img-link{
  text-decoration: none;
  color: black;
}

/* Pagina index.html Imagen Superior */
#img-principal img
{
  width: 80%;
  height: 90%;
  float: left;
  margin: 2% 0 0 9%;
  -webkit-box-shadow: 2px 2px 2px #02010a;
  -moz-box-shadow: 2px 2px 2px #02010a;
}

/* Pagina Index Imagen Izquieda Inferior */
#img-izquierda img
{
  height: 70%;
  float: left;
  margin: 5% 0 0 10%;
  border: 1px solid;
  -webkit-box-shadow: 2px 2px 2px #82c3a6;
  -moz-box-shadow: 2px 2px 2px #82c3a6;
}

#img-izquierda img:hover{
  transition: all 1s;
  transform: rotate(10deg);
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

#img-izquierda h2
{
  text-align: center;
  padding-top: 50%
}

/* Pagina Paisajes.html y retratos.hml  Imagen Izquierda Superior */
#img-izquierda-uno img
{
  width: 90%;
  height: 90%;
  float: left;
  margin: 2% 0 0 6%;
  -webkit-box-shadow: 2px 2px 2px #02010a;
  -moz-box-shadow: 2px 2px 2px #02010a;
}
/* Pagina Paisajes.html y retratos.hml  Imagen Centro Superior */
#img-centro-uno img
{
  width: 90%;
  height: 90%;
  float: left;
  margin: 2% 0 0 6%;
  border: 1px solid;
  -webkit-box-shadow: 2px 2px 2px #02010a;
  -moz-box-shadow: 2px 2px 2px #02010a;
}
/* Pagina Paisajes.html y retratos.hml  Imagen Derecha Superior */
#img-derecha-uno img
{
  width: 90%;
  height: 90%;
  
  margin: 2% 0 0 5%;
  border: 1px solid;
  -webkit-box-shadow: 2px 2px 2px #02010a;
  -moz-box-shadow: 2px 2px 2px #02010a;
}

/* Imagen Bloque Dos */
/* Pagina Paisajes.html y retratos.hml  Imagen Izquierda Inferior*/
#img-izquierda-dos img
{
  width: 90%;
  height: 90%;
  float: left;
  margin: 2% 0 0 6%;
  -webkit-box-shadow: 2px 2px 2px #02010a;
  -moz-box-shadow: 2px 2px 2px #02010a;
}

/* Pagina Paisajes.html y retratos.hml  Imagen Centro Inferior*/
#img-centro-dos img
{
  width: 90%;
  height: 90%;
  float: left;
  margin: 2% 0 0 6%;
  border: 1px solid;
  -webkit-box-shadow: 2px 2px 2px #02010a;
  -moz-box-shadow: 2px 2px 2px #02010a;
}

/* Pagina Paisajes.html y retratos.hml  Imagen Derecha Inferior*/
#img-derecha-dos img
{
  width: 90%;
  height: 90%;
  margin: 2% 0 0 5%;
  border: 1px solid;
  -webkit-box-shadow: 2px 2px 2px #02010a;
  -moz-box-shadow: 2px 2px 2px #02010a;
}

/* Pagina Index.html Imagen Derecha Inferior */
#img-derecha img
{
  height: 70%;
  float: right;
  margin: 5% 10% 0 0;
  border: 1px solid;
  -webkit-box-shadow: 2px 2px 2px #82c3a6;
  -moz-box-shadow: 2px 2px 2px #82c3a6;
}

#img-derecha img:hover{
  transition: all 1s;
  transform: translate(20px,-5px);
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

#img-derecha h2
{
  text-align: center;
  padding-top: 50%
}

/* Pie de Pagina */
#contacto
{
  width: 20%;
  float: left;
  text-align: left;
  padding-left: 4%;
}

#terminos
{
  width: 25%;
  float: right;
  text-align: left;
  
}

#redes
{
  width: 25%;
  float: right;
  text-align: left;
}

#redes img
{
  height: 15px;
  border-radius: 10px;
}

#derechos
{
  width: 25%;
  float: right;
  text-align: left;
}

section #img-paisajes
{
  width: 100%;
  height: 300px;
  background-color: #d5c75f;
}


/* Texto  Paisaje*/
section #paisajes
{
  width: 100%;
  height: 300px;
  background-color: #d5c75f;
}

#paisajes #item
{
  width: 33.3%;
  float: left;
}

#paisajes #item img
{
  height: 130px;
  float: left;
  margin: 13px 0 0 39px;
  -webkit-box-shadow: 2px 2px 2px #02010a;
  -moz-box-shadow: 2px 2px 2px #02010a;
}

/* Texto  Retratos*/
section #retratos
{
  width: 100%;
  height: 300px;
  background-color: #d5c75f;
}

#retratos #item
{
  width: 33.3%;
  float: left;
}

#retratos #item img
{
  height: 130px;
  float: left;
  margin: 13px 0 0 39px;
  -webkit-box-shadow: 2px 2px 2px #02010a;
  -moz-box-shadow: 2px 2px 2px #02010a;
}

/* Pagina Paisajes.html y Retratos.html Efecto Bluer */
#img-izquierda-uno img{
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

/* Pagina Paisajes.html y Retratos.html Efecto Grayscale*/
#img-centro-uno img{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* Pagina Paisajes.html y Retratos.html Efecto Sepia */
#img-derecha-uno img{
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
}

/* Pagina Paisajes.html y Retratos.html Efecto Grayscale */
#img-izquierda-dos img{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
/* Pagina Paisajes.html y Retratos.html Efecto Grayscale */
#img-derecha-dos img{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* Pie de Pagina */
footer
{
  width: 100%;
  height: 170px;
  clear: both;
  background-color: #C6d5c5;
  border-radius: 0 0 10px 10px;
  order: 5;
}

/* Contenido con 900 Px */
@media screen{
  #contenido{
    width: 900px;
  }
}

/* Tamano de Pagina Responsive */
@media (max-width:900px){
  header{
    height: 170px !important;
    display: flex;
    flex-direction: column;
  }
  header #titulo{
    width: 100% !important;
    float: none;
    order: 0;
  }
  header #titulo h1{
    text-align: center;
  }
  header #menu{
    width: 100% !important;
    float: none;
    order: 1;
  }
  /* Conttenido de la pagina Responsive */
  #contenido{
    width: 100%;
  }

  /* Pagina Index.html cuadro arriba*/
  #img-principal{
    width: 100% !important;
    height: 200px !important;
  }
  /* Pagina Index.html imagen */
  #img-principal img{
    width: 95% !important; 
    height: 90% !important;
    margin: 2% 0 0 2%;
  }
  /* Pagina index.html  Cuadro Abajo izquierda*/
  #img-izquierda{
    width: 100% !important;
    float: none;
  }

  /* Pagina Index.html imagen Abajo izquierda */
  #img-izquierda h2{
    padding-top: 62%;
  }

  /*Pagina Index html Imagen Abajo Izquierda */
  #img-izquierda img{
    width: 95% !important;
    height: 62% !important;
    margin: 6% 0 0 2% !important;
  }
 
  #img-derecha{
    width: 100% !important;
    float: none;
  }
  #img-derecha h2{
    padding-top: 62%;
  }

   /*Pagina Index html Imagen Abajo Derecha */
  #img-derecha img{
    width: 95% !important;
    height: 66% !important;
    float: left !important;
    margin: 3% 0 0 2% !important;
  }


/* Pagina Paisajes.html y Retratos.html Ajustes de Tamano Izquierdo Superior */
#img-izquierda-uno
{
  width: 100% !important;
  float: none;
}

#img-izquierda-uno img
{
  width: 95%;
  height: 90%;
  float: left;
  margin: 2% 0 0 2%;
}

/* Pagina Paisajes.html y Retratos.html Ajustes de Tamano Centro Superior */

#img-centro-uno
{
  width: 100% !important;
  float: none;
}

#img-centro-uno img
{
  width: 95%;
  height: 90%;
  float: left;
  margin: 2% 0 0 2%;
}

/* Pagina Paisajes.html y Retratos.html Ajustes de Tamano Derecho Superior */
#img-derecha-uno
{
  width: 100% !important;
  float: none;
}

#img-derecha-uno img
{
  width: 95%;
  height: 90%;
  float: left;
  margin: 2% 0 0 2%;
}

/* Pagina Paisajes.html y Retratos.html Ajustes de Tamano Izquierdo Inferior */
#img-izquierda-dos
{
  width: 100% !important;
  float: none;
}

#img-izquierda-dos img
{
  width: 95%;
  height: 90%;
  float: left;
  margin: 2% 0 0 2%;
}

/* Pagina Paisajes.html y Retratos.html Ajustes de Tamano Centro Inferior */

#img-centro-dos
{
  width: 100% !important;
  float: none;
}

#img-centro-dos img
{
  width: 95%;
  height: 90%;
  float: left;
  margin: 2% 0 0 2%;
}

/* Pagina Paisajes.html y Retratos.html Ajustes de Tamano Derecho Inferior */
#img-derecha-dos
{
  width: 100% !important;
  float: none;
}

#img-derecha-dos img
{
  width: 95%;
  height: 90%;
  float: left;
  margin: 2% 0 0 2%;
}



/* Pie De pagina Bloques */
  #contacto{
    width: 95% !important;
    order: 0;
  }
  #terminos{
    width: 95% !important;
    float: left;
    padding-left: 5%;
    order: 1;
  }
  #redes{
    width: 95% !important;
    float: left;
    padding-left: 5%;
    order: 2;
  }
  #derechos{
    width: 95% !important;
    float: left;
    padding-left: 5%;
    order: 3;
  }
  #paisajes{
    height: 1220px !important;
  }
  #paisajes #item{
    width: 100%;
  }
  #paisajes #item img{
    height: 187px;
    margin-left: 16px;
  }
  #retratos{
    height: 1285px !important;
  }
  #retratos #item{
    width: 100%;
  }
  #retratos #item img{
    height: 197px;
    margin-left: 16px;
  }

  /* Pie de Pagina Footer */
  footer{
    height: 480px;
    display: flex;
    flex-direction: column;
  }
}
